<% include ./partials/header.ejs %>

<div class="container">
<form action="/update" method="post">
    <h2>update your account</h2>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input  disabled type="email" name="email" placeholder="Email" value="<%= founduser.email %>" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">username</label>
        <input id="username" type="text" name="username" value="<%= founduser.username %>" class="form-control" id="exampleInputPassword1">
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">age</label>
        <input type="age" name="age" value="<%= founduser.age %>" class="form-control" id="exampleInputPassword1">
      </div>
      <button type="submit" class="btn btn-warning">update your account</button>
</form>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.5.1/axios.min.js" integrity="sha512-emSwuKiMyYedRwflbZB2ghzX8Cw8fmNVgZ6yQNNXXagFzFOaQmbvQ1vmDkddHjm5AITcBIZfC7k4ShQSjgPAmQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script>

  var username = document.querySelector("#username");

  username.addEventListener("input", function(){
    if(username.value.length > 0){
      axios.get(`/check/${username.value}`)
      .then(function(data){
        if(data.data){
          username.style.boxShadow = "0 0 0 0.25rem rgba(255,50,50,.7)";
          document.querySelector('#submit').setAttribute("disabled", true);
        }
        else{
          username.style.boxShadow = "0 0 0 0.25rem rgba(13,110,253,.25)";
          document.querySelector('#submit').removeAttribute("disabled");
        }
      })
    }
  })

</script>

<% include ./partials/footer.ejs %>
