<% include ./partials/header.ejs %>

<div class="continer p-4">
    <h3>Reset your Password</h3>
    <hr>
    <form action="/updatepassword/<%= user._id %>" method="post">
        <form>
            
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="password" name="password" class="form-control" id="exampleInputPassword1">
            </div>
            
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Confirm Password</label>
                <input type="password" name="password" class="form-control" id="exampleInputPassword1">
              </div>
              

            <button type="submit" class="btn btn-success">Save Password</button>
          </form>

    </form>
</div>


<% include ./partials/footer.ejs %>
